.wrapper {
	margin-top: 150px;
	display: flex;
}

.nav {
	max-width: 320px;
}

.menu {
	line-height: 64px;
	padding-inline-start: 0;
	padding-left: 0;
	display: flex;
	flex-direction: column;

	li {
		cursor: pointer;
	}
}
